extends layout

block content
  div(class='content')
    h2(class='content-subhead') How to use
    p.
      You can type an expression like (~P) or ((A^B)->(Av~B)) or ((A->(BvC))->((AvB)v(AvC))) and you'll get the abstract syntax tree.
  