extends layout

block content
  div(class='content')
    h2(class='content-subhead') Get the

block scripts
  script(src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
  script(src="https://www.gstatic.com/charts/loader.js")